.app {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  left: 50%;
  transform: translate(-50%, 0);

  background-color: white;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

body {
  background: url(https://flexibits.com/img/new-fantastical/background/weather-background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

/* components */
.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px rgb(185, 229, 247);
}

.Button-section Button:hover {
  background-color: rgb(12, 28, 248);
  color: white;
  border: 1px solid black;
}

.Button-section Button:active :focus {
  background-color: black;
  border: 1px solid black;
}

.Button-section {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
}

.Button-style {
  margin-right: 10px;
  width: 90px;
  height: 60px;
  border: none;
  border-radius: 64px;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}

.temp {
  margin-top: 10px;
  margin-bottom: 10px;
}

.max-button {
  margin-top: 30px;
  margin-right: 10px;
}

.min-button {
  margin-top: 30px;
}
